h2 {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  height: auto;
  line-height: 1;
  padding: 1em 1.4em;
  color: #435779;
}

.file-over { border: 3px dotted #435779; }

form label {
  font-size: 1.25em
}

.ng-invalid.ng-dirty {
  border-right: 3px solid red;
}

.error p {
  color: red;
  position: relative;
  font-size: 0.675em;
}

@media screen and (max-width: 39.9375em) {
  h2 {
    text-align: center;
    font-size: 1.5em;
  }

  form label {
    font-size: 1.05em
  }

}
