<form>
  <h3><i class="mdi mdi-book-open-page-variant"></i> Search Book</h3>
  <div class="row">
    <div class="columns">
      <label><i class="mdi mdi-buffer"></i> Title
        <input type="text" placeholder="title">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <label><i class="mdi mdi-account"></i> Author
        <input type="text" placeholder="author">
      </label>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <label><i class="mdi mdi-currency-usd"></i> Price
        <input type="text" placeholder="price">
      </label>
    </div>
  </div>

  <div class="row align-center radio">
    <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Less Then</label>
    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Greater Then</label>
  </div>

  <div class="row align-center">
    <a class="button" href="#"><i class="mdi mdi-magnify"></i> Search</a>
  </div>

</form>
