<div class="media-object stack-for-small"
  [ngStyle]="hover"
  (mouseenter)="toggleEffect(true)"
  (mouseleave)="toggleEffect(false)"
  >
  <div class="media-object-section">
    <img src="../../../assets/book.png" >
  </div>
  <div class="media-object-section main-section">
    <h3>{{book.title}}</h3>

    <div class="float-right">
      <a class="category" href="#">{{book.category}}</a> <i class="mdi mdi-tag"></i>
    </div>

    <br>

    <p>
      <small><i class="mdi mdi-format-line-weight"></i> Description </small> <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <br><br>
      <small><i class="mdi mdi-account"></i> Author: <span>{{book.author.toString()}}</span></small>
    </p>

    <span class="price">{{book.price | currency: symbolDisplay: true}}</span>

    <br><br>
    <hr>
    <div class="button-group float-right">
      <a class="button" (click)="viewBook(book._id)"><i class="mdi mdi-arrow-right-drop-circle"></i> Read more</a>
      <a class="button" (click)="editBook(book._id)"><i class="mdi mdi-border-color"></i> Edit</a>
      <a class="button hollow alert" (click)="deleteBook(book._id)"><i class="mdi mdi-delete"></i> Delete</a>
    </div>
  </div>

</div>
